@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: var(--paragraph-font 'Noto Sans', Arial, Helvetica, sans-serif);
    max-width: 960px;
    padding: 20px;
  }

  :root {
    --primary-color: #6CD4FF;
    --secondary-color: #83858C;
    --accent1-color: #A59EFA;
    --accent2-color: #E4DBFB;
  
    --heading-font: 'Merienda' , serif;
    --paragraph-font: 'Noto Sans', serif;
  
    --nav-background-color: #E4DBFB;
    --nav-link-color: #A59EFA;
    --nav-hover-link-color: #CFB1B7;
    --nav-hover-background-color: #83858C;
    
    font-family: var(--paragraph-font 'Noto Sans');
    max-width: 960px;
    padding: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }

  p {
    padding: 25px;
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }

  